*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
    margin-bottom: 30px;
}
ul,ol,li{
    list-style: none;
}

input{
    padding: 5px;
    width: 300px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

a {
  color: #00B7FF;
}

button,.button{
    display: inline-block;
    padding: 3px 5px;
    background-color: #ff7200;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #ff7200;
}

form li{
    margin-bottom: 15px;
}