<!DOCTYPE html>
<html>
<%- include('../layout/header') %>
<body>
    <h1>登录</h1>
    <form action="">
        <ul>
            <li>
                <input type="text" name="username">
            </li>
            <li>
                <input type="password" name="password" autocomplete="off">
            </li>
            <li>
                <button>登 录</button>
            </li>
        </ul>
    </form>
</body>
</html>
